nav {
    font-family: sans-serif;
    font-size: 1.5em;
    background-color: #1c1129;
    color: #fff;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a{
    text-decoration: none;
    color: inherit;
}

nav ul li{
    display: inline;
    padding: 10px;
    width: 20%;
    text-align: center;
}

nav .dropdown {
    
}

.dropdown-content a {
    color: #000;
}

nav .dropdown .dropdown-button:hover .dropdown-content {
    height: auto;
}

nav .dropdown-content {
    position: absolute;
    overflow: hidden;
    height: 0px;
    transition: all 1.5 ease;
    width: 20%;
}

nav .dropdown-content:hover {
    height: auto;
}

nav .dropdown-content a{
    display: block;
}