body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#hero-banner {
    height: 75vh;
    width: 100%;
    background: black;
    color: white;
    display: table;
    text-align: center;
}

#hero-banner #heading{
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

#ans{
    color: white;
}
#ans:hover { 
    color: black;
}

/*pc screen*/

.page-content{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.page-content #topic-content{
    grid-column: 2;
    padding: 1vh;
}

#term-topics{
    grid-column: 1;
    background-color: #2ed4d4;
    height: 100%;
}

.fixed-nav{
    position: fixed;
    top: 0;
    width: 20%;
}
