body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.hero-banner {
    height: 50vh;
    width: 100%;
    background: black;
    color: white;
}

#ans{
    color: white;
}
#ans:hover { 
    color: black;
}