body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#hero-banner {
    height: 75vh;
    width: 100%;
    background: black;
    color: white;
    display: table;
    text-align: center;
}

#hero-banner #heading{
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

#ans{
    color: white;
}
#ans:hover { 
    color: black;
}